---
import Layout from "../layouts/Layout.astro";
---

<Layout title="For Teams">
    <div class="light"/>
    <div class="container">
        <div class="left">
            <span class="title">Coaching for Teams</span>
            <span class="text">To schedule coaching sessions for Teams, please message Veigar v2 directly on Discord to figure something out.</span>
            <a class="button-discord">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18" fill="none">
                    <path d="M18.6523 1.88963C21.1369 5.6186 22.364 9.82476 21.9053 14.667C21.9034 14.6875 21.8929 14.7063 21.8764 14.7187C19.9948 16.129 18.1719 16.9848 16.3745 17.5525C16.3605 17.5568 16.3455 17.5566 16.3317 17.5517C16.3178 17.547 16.3057 17.5379 16.2972 17.5258C15.882 16.936 15.5047 16.3142 15.1741 15.6613C15.1551 15.6228 15.1725 15.5765 15.2115 15.5614C15.8107 15.3309 16.3805 15.0547 16.9286 14.7277C16.9718 14.7018 16.9745 14.6387 16.9346 14.6083C16.8183 14.5202 16.7031 14.4276 16.5928 14.3349C16.5722 14.3178 16.5444 14.3145 16.521 14.326C12.9628 16.0032 9.06499 16.0032 5.46473 14.326C5.44134 14.3153 5.41356 14.319 5.39349 14.3358C5.28351 14.4284 5.16801 14.5202 5.05279 14.6083C5.01291 14.6387 5.01618 14.7018 5.05965 14.7277C5.60772 15.0485 6.17753 15.3309 6.77589 15.5625C6.81467 15.5776 6.83309 15.6228 6.81384 15.6613C6.49046 16.3151 6.11315 16.9369 5.6902 17.5266C5.67178 17.5505 5.64153 17.5614 5.61293 17.5525C3.82406 16.9848 2.00111 16.129 0.119539 14.7187C0.103881 14.7063 0.0925976 14.6867 0.0909397 14.6662C-0.292402 10.4777 0.488881 6.2367 3.34087 1.88879C3.34778 1.87725 3.35824 1.86828 3.3703 1.86296C4.77366 1.20551 6.27705 0.721865 7.84841 0.445656C7.87701 0.441171 7.90561 0.454626 7.92044 0.480462C8.1146 0.83133 8.33653 1.28134 8.4867 1.64907C10.143 1.3908 11.8252 1.3908 13.5162 1.64907C13.6663 1.28919 13.8805 0.83133 14.0739 0.480462C14.0807 0.467661 14.0914 0.457382 14.1043 0.451122C14.1173 0.444861 14.1318 0.442946 14.1459 0.445656C15.7181 0.722706 17.2215 1.20635 18.6237 1.86296C18.6361 1.86828 18.6462 1.87725 18.6523 1.88963ZM9.32873 9.8534C9.34605 8.61518 8.46165 7.59056 7.35151 7.59056C6.25039 7.59056 5.37451 8.60621 5.37451 9.8534C5.37451 11.1003 6.2677 12.1159 7.35151 12.1159C8.45285 12.1159 9.32873 11.1003 9.32873 9.8534ZM16.6388 9.8534C16.6561 8.61518 15.7717 7.59056 14.6618 7.59056C13.5604 7.59056 12.6845 8.60621 12.6845 9.8534C12.6845 11.1003 13.5777 12.1159 14.6618 12.1159C15.7717 12.1159 16.6388 11.1003 16.6388 9.8534Z" fill="white"/>
                </svg>
                <span>Join the Discord</span>
            </a>
        </div>
        <div class="right">
            <p class="timeline-title">Team History</p>
            <div class="timeline-container">
                <div class="timeline-element">
                    <span class="head">Apr 2019 - Oct 2019</span>
                    <span><a href="//lol.gamepedia.com/Movistar_Riders" target="_blank" class="textlink" rel="nofollow">Movistar Riders</a></span>
                </div>
                <div class="timeline-element">
                        <span class="head">Aug 2019 - Mar 2020</span>
                        <span><a href="//lol.gamepedia.com/Dusty" target="_blank" class="textlink" rel="nofollow">Dusty</a></span>
                </div>
                <div class="timeline-element">
                    <span class="head">Oct 2019 - Nov 2019</span>
                    <span><a href="//lol.gamepedia.com/Riddle_Esports" target="_blank" class="textlink" rel="nofollow">Riddle Esports</a></span>
                </div>
                <div class="timeline-element">
                    <span class="head">Jan 2020 - Apr 2020</span>
                    <span><a href="//lol.gamepedia.com/Fnatic" target="_blank" class="textlink" rel="nofollow">Fnatic</a></span>
                </div>
                <div class="timeline-element">
                    <span class="head">Jun 2020 - Nov 2020</span>
                    <span><a href="//lol.gamepedia.com/Dusty" target="_blank" class="textlink" rel="nofollow">Dusty</a></span>
                </div>
                <div class="timeline-element">
                    <span class="head">Aug 2020 - Nov 2020</span>
                    <span><a href="//lol.gamepedia.com/Domino_esport" target="_blank" class="textlink" rel="nofollow">Domino esports</a></span>
                </div>
                <div class="timeline-element-last">
                    <span class="head">Dec 2020 - Present</span>
                    <span><a href="//lol.gamepedia.com/Cloud9" target="_blank" class="textlink" rel="nofollow">Cloud9</a></span>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10%;
        margin-top: 6rem;
        margin-bottom: 10rem;
        z-index: 1;
        position: relative;
    }
    @media screen and (max-width: 780px) {
        .container {
            flex-direction: column;
            align-items: center;
            gap: 4rem;
        }
        
    }
    .left {
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 2rem;
    }
    @media screen and (max-width: 780px) {
        .left {
            width: 80%;
            align-items: center;
        }
    }
    .title {
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
    }
    @media screen and (max-width: 780px) {
        .title {
            text-align: center;
        }
    }
    .text {
        font-size: 1.2rem;
        font-weight: 400;
        color: #fff;
    }
    @media screen and (max-width: 780px) {
        .text {
            text-align: center;
        }
    }
    .button-discord {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        padding-bottom: 0.8rem;
        padding-top: 0.8rem;
        border-radius: 6px;
        background-color: #8952E0;
        color: #fff;
        width: fit-content;
    }
    .timeline-title {
        font-size: 1.2rem;
        font-weight: 400;
        color: #fff;
        
    }
    @media screen and (max-width: 780px) {
        .timeline-title {
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
        }
    }
    .timeline-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .timeline-element {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 3rem;
        padding-left: 1rem;
        padding-bottom: 2rem;
        color: rgba(231, 231, 240, 0.80);;
        width: fit-content;
        border-left: 1px solid rgba(255, 255, 255, 0.20);
        font-size: 0.95rem;
    }
    .timeline-element::before {
        background-color: #8952E0;
        content: "";
        display: block;
        font-size: 1.5rem;
        position: absolute;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        left: -0.5rem;
    }
    .timeline-element-last {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 3rem;
        padding-left: 1rem;
        padding-bottom: 2rem;
        color: rgba(231, 231, 240, 0.80);;
        width: fit-content;
        font-size: 0.95rem;
    }
    .timeline-element-last::before {
        background-color: #8952E0;
        content: "";
        display: block;
        font-size: 1.5rem;
        position: absolute;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        left: -0.5rem;

    }
    .timeline-element a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;

    }
    .timeline-element-last a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
    }
    .light {
		background-color: #8952E0;
		-webkit-filter: blur(200px);
		filter: blur(200px);
		width: 811px;
		height: 496px;
		position: absolute;
		z-index: 0;
		top: -50vh;
		left: 50%;
    	transform: translate(-50%, 0);
		max-width: 100vw;
	}
</style>