---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/Slider.astro";
---

<Layout title="For Individuals">
    <div class="light"/>
    <div class="container">    
        <div class="title">Coaching for Individuals</div>
        <Slider />
    </div>
</Layout>

<style>
    .light {
		background-color: #8952E0;
		-webkit-filter: blur(200px);
		filter: blur(200px);
		width: 811px;
		height: 496px;
		position: absolute;
		z-index: 0;
		top: -50vh;
		left: 50%;
    	transform: translate(-50%, 0);
		max-width: 100vw;
	}
    .container {
        height: 100vh;
        margin-top: 6rem;
        position: relative;
        z-index: 2;
    }
    .title {
        font-size: 2rem;
        font-weight: 700;
        color: #fff;
        text-align: center;
    }
</style>