---
import Card from '../components/Card.astro';
import Info from '../components/Info.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<div class="light"/>
	<div class="center">
		<div class="title">Veigar v2 turns coaching into an extraordinary experience</div>
	</div>
	<div class="cards">
		<Card title="Coaching for Teams">
			<div class="icon">
				<svg width="64" height="50" viewBox="0 0 64 50" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_137_1850)">
						<path d="M10.125 21.875C13.5723 21.875 16.375 19.0723 16.375 15.625C16.375 12.1777 13.5723 9.375 10.125 9.375C6.67773 9.375 3.875 12.1777 3.875 15.625C3.875 19.0723 6.67773 21.875 10.125 21.875ZM53.875 21.875C57.3223 21.875 60.125 19.0723 60.125 15.625C60.125 12.1777 57.3223 9.375 53.875 9.375C50.4277 9.375 47.625 12.1777 47.625 15.625C47.625 19.0723 50.4277 21.875 53.875 21.875ZM57 25H50.75C49.0312 25 47.4785 25.6934 46.3457 26.8164C50.2812 28.9746 53.0742 32.8711 53.6797 37.5H60.125C61.8535 37.5 63.25 36.1035 63.25 34.375V31.25C63.25 27.8027 60.4473 25 57 25ZM32 25C38.0449 25 42.9375 20.1074 42.9375 14.0625C42.9375 8.01758 38.0449 3.125 32 3.125C25.9551 3.125 21.0625 8.01758 21.0625 14.0625C21.0625 20.1074 25.9551 25 32 25ZM39.5 28.125H38.6895C36.6582 29.1016 34.4023 29.6875 32 29.6875C29.5977 29.6875 27.3516 29.1016 25.3105 28.125H24.5C18.2891 28.125 13.25 33.1641 13.25 39.375V42.1875C13.25 44.7754 15.3496 46.875 17.9375 46.875H46.0625C48.6504 46.875 50.75 44.7754 50.75 42.1875V39.375C50.75 33.1641 45.7109 28.125 39.5 28.125ZM17.6543 26.8164C16.5215 25.6934 14.9688 25 13.25 25H7C3.55273 25 0.75 27.8027 0.75 31.25V34.375C0.75 36.1035 2.14648 37.5 3.875 37.5H10.3105C10.9258 32.8711 13.7188 28.9746 17.6543 26.8164Z" fill="white"/>
					</g>
					<defs>
						<clipPath id="clip0_137_1850">
							<rect width="62.5" height="50" fill="white" transform="translate(0.75)"/>
						</clipPath>
					</defs>
				</svg>
			</div>
		</Card>				
		<Card title="Coaching for Individuals">
			<div class="icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="44" height="50" viewBox="0 0 44 50" fill="none">
					<g clip-path="url(#clip0_137_1858)">
					<path d="M22.005 25C28.9093 25 34.505 19.4043 34.505 12.5C34.505 5.5957 28.9093 0 22.005 0C15.1007 0 9.505 5.5957 9.505 12.5C9.505 19.4043 15.1007 25 22.005 25ZM30.755 28.125H29.1241C26.9562 29.1211 24.5441 29.6875 22.005 29.6875C19.4659 29.6875 17.0636 29.1211 14.8859 28.125H13.255C6.00891 28.125 0.130005 34.0039 0.130005 41.25V45.3125C0.130005 47.9004 2.22961 50 4.8175 50H39.1925C41.7804 50 43.88 47.9004 43.88 45.3125V41.25C43.88 34.0039 38.0011 28.125 30.755 28.125Z" fill="white"/>
					</g>
					<defs>
					<clipPath id="clip0_137_1858">
						<rect width="43.75" height="50" fill="white" transform="translate(0.130005)"/>
					</clipPath>
					</defs>
				</svg>
			</div>
		</Card>
		<Card title="Over 1500 coaching VODs on Patreon">
			<div class="icon">
				<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
					<path d="M50 19.0234C50 28.916 41.9531 36.9727 32.0508 36.9727C22.1191 36.9727 14.043 28.9258 14.043 19.0234C14.043 9.10156 22.1191 1.02539 32.0508 1.02539C41.9531 1.02539 50 9.10156 50 19.0234ZM0 48.9746H8.78906V1.02539H0V48.9746Z" fill="#FFFEFD"/>
				</svg>
			</div>
		</Card>
	</div>
	<div class="break">
		<div class="about">
			<span class="subtitle">About Veigar v2</span>
			<span>Marius "Veigar v2" Aune is a Norwegian League of Legends coach. He was the Strategic Coach and Analyst for various LCS/LEC teams, currently working for Cloud9 in the LCS. Outside of League, he likes to take care of his bunny Snoopy.</span>
		</div>
		<a class="more">
			Read more 
			<svg xmlns="http://www.w3.org/2000/svg" width="13" height="19" viewBox="0 0 13 19" fill="none">
				<path d="M2.70834 9.5H10.2917" stroke="white" stroke-opacity="0.92" stroke-width="1.08333" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M6.5 3.95834L10.2917 9.5L6.5 15.0417" stroke="white" stroke-opacity="0.92" stroke-width="1.08333" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</a>
		<div class="back-light" />
	</div>
	<div class="infos">
			<Info title="Experience">
				<svg slot="icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="32" height="32" rx="16" fill="#8952E0" fill-opacity="0.2"/>
					<path d="M9.90341 10.8182L11.9567 14.2884H12.0362L14.0994 10.8182H16.5305L13.4233 15.9091L16.6001 21H14.1243L12.0362 17.5249H11.9567L9.86861 21H7.4027L10.5895 15.9091L7.46236 10.8182H9.90341ZM17.8928 21V10.8182H21.9098C22.6821 10.8182 23.34 10.9657 23.8835 11.2607C24.4271 11.5523 24.8414 11.9583 25.1264 12.4787C25.4148 12.9957 25.5589 13.5923 25.5589 14.2685C25.5589 14.9446 25.4131 15.5412 25.1214 16.0582C24.8298 16.5753 24.4072 16.978 23.8537 17.2663C23.3035 17.5547 22.6373 17.6989 21.8551 17.6989H19.2947V15.9737H21.5071C21.9214 15.9737 22.2628 15.9025 22.5312 15.7599C22.803 15.6141 23.0052 15.4136 23.1378 15.1584C23.2737 14.8999 23.3416 14.6032 23.3416 14.2685C23.3416 13.9304 23.2737 13.6354 23.1378 13.3835C23.0052 13.1283 22.803 12.9311 22.5312 12.7919C22.2595 12.6494 21.9148 12.5781 21.4972 12.5781H20.0455V21H17.8928Z" fill="#A379E7"/>
				</svg>		
				<span class="info-text" slot="text">More than 5000 hours of coaching experience</span>		
			</Info>
			<Info className="info-2" title="Challenger">
				<svg slot="icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="32" height="32" rx="16" fill="#8952E0" fill-opacity="0.2"/>
					<path d="M9.07167 17.4362L8.2583 16.6229C7.9139 16.2785 7.9139 15.7215 8.2583 15.3808L15.3771 8.2583C15.7215 7.9139 16.2785 7.9139 16.6192 8.2583L23.7417 15.3808C24.0861 15.7252 24.0861 16.2821 23.7417 16.6229L22.9283 17.4362C22.5803 17.7843 22.0124 17.777 21.6716 17.4216L17.4655 13.0066V23.5365C17.4655 24.0238 17.0735 24.4158 16.5862 24.4158H15.4138C14.9265 24.4158 14.5345 24.0238 14.5345 23.5365V13.0066L10.3284 17.4216C9.98763 17.7806 9.41974 17.788 9.07167 17.4362Z" fill="#A379E7"/>
				</svg>
				<span class="info-text" slot="text">Challenger in multiple roles since season 7</span>
			</Info>		
			<Info title="Coached the Pros">
				<svg slot="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
					<rect width="32" height="32" rx="16" fill="#8952E0" fill-opacity="0.2"/>
					<path d="M13.6316 8C11.5354 8 9.83134 9.70409 9.83134 11.8002C9.83134 13.8563 11.4394 15.5204 13.5355 15.5924C13.5996 15.5844 13.6636 15.5844 13.7116 15.5924H13.7516H13.7676C15.8157 15.5204 17.4238 13.8563 17.4318 11.8002C17.4318 9.70409 15.7277 8 13.6316 8Z" fill="#A379E7"/>
					<path d="M17.6965 17.7197C15.4644 16.2316 11.8242 16.2316 9.57609 17.7197C8.56003 18.3997 8 19.3197 8 20.3038C8 21.2879 8.56003 22.1999 9.56809 22.8719C10.6881 23.624 12.1602 24 13.6323 24C15.1044 24 16.5764 23.624 17.6965 22.8719C18.7046 22.1919 19.2646 21.2799 19.2646 20.2878C19.2566 19.3037 18.7046 18.3917 17.6965 17.7197Z" fill="#A379E7"/>
					<path d="M22.4235 12.2708C22.5515 13.8228 21.4475 15.1829 19.9194 15.3669C19.9114 15.3669 19.9114 15.3669 19.9034 15.3669H19.8794C19.8314 15.3669 19.7834 15.3669 19.7434 15.3829C18.9673 15.4229 18.2553 15.1749 17.7193 14.7189C18.5433 13.9829 19.0153 12.8788 18.9193 11.6787C18.8633 11.0307 18.6393 10.4387 18.3033 9.93463C18.6073 9.78262 18.9593 9.68661 19.3194 9.65461C20.8874 9.51861 22.2875 10.6867 22.4235 12.2708Z" fill="#A379E7"/>
					<path d="M24.0228 19.673C23.9588 20.449 23.4627 21.121 22.6307 21.5771C21.8307 22.0171 20.8226 22.2251 19.8225 22.2011C20.3986 21.6811 20.7346 21.033 20.7986 20.345C20.8786 19.3529 20.4066 18.4009 19.4625 17.6408C18.9265 17.2168 18.3025 16.8808 17.6224 16.6328C19.3905 16.1208 21.6146 16.4648 22.9827 17.5688C23.7188 18.1609 24.0948 18.9049 24.0228 19.673Z" fill="#A379E7"/>
				</svg>
				<span class="info-text" slot="text">Coached professional players like <a class="info-text-purple">Bjergsen</a>, <a class="info-text-purple">Nemesis</a>, <a class="info-text-purple">Rekkles</a>, <a class="info-text-purple">Doublelift</a>, and more</span>
			</Info>
	</div>
	<div class="youtube">
		Watch him in Action!
		<iframe class="video" src="https://www.youtube.com/embed/TityiUfWoFY" title="Veigar V2 Coaching Challenger China + EUW TF | Example Of A Coaching Session" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		<div class="light2" />
	</div>
	
</Layout>

<style>
	.center {
		display: flex;
		width: 100%;
		justify-content: center;
	}
	.title {
		font-size: clamp(2.5rem, 5vw, 3rem);
		color: #E7E7F0;
		font-weight: 700;
		width: 46%;
		display: flex;
		margin-top: 12rem;
		text-align: center;
	}
	@media only screen and (max-width: 992px) {
		.title {
			width: 70%;
		}
	}
	@media only screen and (max-width: 768px) {
		.title {
			width: 80%;
		}
	}
	@media only screen and (max-width: 480px) {
		.title {
			width: 100%;
		}
	}
	.cards {
		display: flex;
		justify-content: space-between;
		margin-top: 10rem;
		gap: 4rem;
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
	}

	@media only screen and (max-width: 992px) {
		.cards {
			width: 70%;
			margin-left: 15%;
			margin-right: 15%;
			gap: 2rem;
		}
	}

	@media only screen and (max-width: 768px) {
		.cards {
			width: 84%;
			margin-left: 8%;
			margin-right: 8%;
			gap: 2rem;
		}
	}

	@media only screen and (max-width: 480px) {
		.cards {
			width: 90%;
			margin-left: 5%;
			margin-right: 5%;
			gap: 4rem;
			flex-direction: column;
			margin-top: 16rem;
		}
	}
	.icon {
		text-align: center;
		z-index: 2;
		max-height: 50px;
	}

	.icon svg {
		width: auto;
		height: 100%;
	} 

	@media only screen and (max-width: 1200px) {
		.icon {
			max-height: 35%; 
		}
	}

	@media only screen and (max-width: 768px) {
		.icon {
			max-height: 30%; 
		}
	}

	@media only screen and (max-width: 480px) {
		.icon {
			max-height: none; 
		}
	}

	.break {
		margin-top: 14rem;
		width: 60%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		position: relative;
		background-color: rgba(255, 255, 255, 0.02);
		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px);
		border-radius: 10px;
		margin-left: 20%;
		border: 1px solid rgba(255, 255, 255, 0.08);
		overflow: hidden;
	}
	@media only screen and (max-width: 480px) {
		.break {
			width: 90%;
			margin-left: 5%;
			margin-top: 10rem;
		}
	}
	.about {
		padding-top: 2rem;
		width: 90%;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		z-index: 1;
	}
	.about span {
		color: #fff;
		font-size: 1rem;
		font-weight: 400;
		display: flex;
	}
	.subtitle {
		font-size: 1.5rem !important;
		font-weight: 700 !important;
	}
	.more {
		color: #fff;
		font-size: 0.9rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding-bottom: 2rem;
		z-index: 1;
	}
	.back-light {
		background-color: #8952E0;
		-webkit-filter: blur(150px);
		filter: blur(150px);
		width: 30%;
		height: 40%;
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 35%;
	}
	.infos {
		display: flex;
		justify-content: space-between;
		margin-top: 14rem;
		gap: 4rem;
		margin-left: 15%;
		margin-right: 15%;
	}
	@media only screen and (max-width: 992px) {
		.infos {
			margin-left: 10%;
			margin-right: 10%;
			gap: 2rem;
		}
	}
	@media only screen and (max-width: 768px) {
		.infos {
			margin-left: 5%;
			margin-right: 5%;
			gap: 2rem;
		}
	}
	@media only screen and (max-width: 480px) {
		.infos {
			margin-left: 2%;
			margin-right: 2%;
			gap: 4rem;
			flex-direction: column;
			margin-top: 10rem;
		}
	}
	.info-2 {
		width: 18rem;
	}
	.info-text {
		font-size: 1rem;
        color: #fff;
        line-height: 30px;
		text-align: center;
	}
	.info-text-purple {
		color: #8952E0;
	}
	.youtube {
		color: #fff;
		font-size: 3rem;
		font-weight: 700;
		text-align: center;
		margin-top: 12rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 10rem;
	}
	.video {
		margin-top: 6rem;
		width: 40%;
		aspect-ratio: 16/9;
		z-index: 2;
	}
	@media only screen and (max-width: 992px) {
		.video {
			width: 60%;
		}
	}
	@media only screen and (max-width: 768px) {
		.video {
			width: 80%;
		}
	}
	@media only screen and (max-width: 480px) {
		.video {
			width: 100%;
		}
	}
	.light {
		background-color: #8952E0;
		-webkit-filter: blur(200px);
		filter: blur(200px);
		width: 811px;
		height: 496px;
		position: absolute;
		z-index: 0;
		top: -50vh;
		left: 50%;
    	transform: translate(-50%, 0);
		max-width: 100vw;
	}
	.light2 {
		background-color: #8952E0;
		-webkit-filter: blur(200px);
		filter: blur(200px);
		width: 811px;
		height: 496px;
		position: absolute;
		z-index: 0;
		left: 50%;
    	transform: translate(-50%, 50%);
		max-width: 100vw;
	}
</style>