---
import VeigarLogo from "../assets/VeigarLogo.png"
---
<div class="container">
    <div class="footer">
        <div class="disclaimer">
            <a href="/" class="logo">
                <img src={VeigarLogo.src} alt="Veigar Logo"/>
                <span>Veigar <span id="purple">v2</span></span>
            </a>
            <span class="disclaimer-text">
                Veigar v2 Coaching is not endorsed by Riot Games and does not reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends™ and Riot Games are trademarks or registered trademarks of Riot Games, Inc.
            </span>
        </div>
        <div class="left">
            <div class="category">
                Socials
                <div class="socials">
                    <a href="https://patreon.com/veigarv2">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_142_71)">
                            <rect width="32" height="32" rx="3" fill="#3D3067"/>
                            <g filter="url(#filter0_f_142_71)">
                            <rect x="7" y="5" width="17" height="19" fill="#4B3A84"/>
                            </g>
                            <g clip-path="url(#clip1_142_71)">
                            <g clip-path="url(#clip2_142_71)">
                            <g clip-path="url(#clip3_142_71)">
                            <path d="M24 14.0875C24 17.2531 21.425 19.8313 18.2563 19.8313C15.0781 19.8313 12.4938 17.2563 12.4938 14.0875C12.4938 10.9125 15.0781 8.32812 18.2563 8.32812C21.425 8.32812 24 10.9125 24 14.0875ZM8 23.6719H10.8125V8.32812H8V23.6719Z" fill="white"/>
                            </g>
                            </g>
                            </g>
                            </g>
                            <defs>
                            <filter id="filter0_f_142_71" x="-13" y="-15" width="57" height="59" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur_142_71"/>
                            </filter>
                            <clipPath id="clip0_142_71">
                            <rect width="32" height="32" rx="3" fill="white"/>
                            </clipPath>
                            <clipPath id="clip1_142_71">
                            <rect width="16" height="16" fill="white" transform="translate(8 8)"/>
                            </clipPath>
                            <clipPath id="clip2_142_71">
                            <rect width="16" height="16" fill="white" transform="translate(8 8)"/>
                            </clipPath>
                            <clipPath id="clip3_142_71">
                            <rect width="16" height="16" fill="white" transform="translate(8 8)"/>
                            </clipPath>
                            </defs>
                        </svg>                            
                    </a>
                    <a href="https://twitter.com/veigar_v2">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_142_76)">
                            <rect width="32" height="32" rx="3" fill="#3D3067"/>
                            <g filter="url(#filter0_f_142_76)">
                            <rect x="7" y="5" width="17" height="19" fill="#4B3A84"/>
                            </g>
                            <g clip-path="url(#clip1_142_76)">
                            <g clip-path="url(#clip2_142_76)">
                            <path d="M22.3553 12.7411C22.3655 12.8833 22.3655 13.0254 22.3655 13.1675C22.3655 17.5025 19.066 22.4975 13.0355 22.4975C11.1777 22.4975 9.45178 21.9594 8 21.0254C8.26397 21.0558 8.51775 21.066 8.79188 21.066C10.3248 21.066 11.736 20.5483 12.8629 19.665C11.4213 19.6345 10.2132 18.6904 9.79694 17.3909C10 17.4213 10.203 17.4416 10.4162 17.4416C10.7107 17.4416 11.0051 17.401 11.2792 17.33C9.77666 17.0254 8.64972 15.7056 8.64972 14.1117V14.0711C9.08625 14.3148 9.59391 14.467 10.1319 14.4873C9.24869 13.8985 8.67003 12.8934 8.67003 11.7563C8.67003 11.1472 8.83244 10.5888 9.11672 10.1015C10.7309 12.0914 13.1573 13.3908 15.8781 13.533C15.8274 13.2893 15.7969 13.0356 15.7969 12.7818C15.7969 10.9746 17.2588 9.50256 19.0761 9.50256C20.0203 9.50256 20.873 9.8985 21.472 10.5381C22.2131 10.396 22.9238 10.1218 23.5533 9.74622C23.3096 10.5077 22.7918 11.1473 22.1116 11.5533C22.7715 11.4823 23.4111 11.2995 23.9999 11.0457C23.5533 11.6954 22.9949 12.2741 22.3553 12.7411Z" fill="white"/>
                            </g>
                            </g>
                            </g>
                            <defs>
                            <filter id="filter0_f_142_76" x="-13" y="-15" width="57" height="59" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur_142_76"/>
                            </filter>
                            <clipPath id="clip0_142_76">
                            <rect width="32" height="32" rx="3" fill="white"/>
                            </clipPath>
                            <clipPath id="clip1_142_76">
                            <rect width="16" height="16" fill="white" transform="translate(8 8)"/>
                            </clipPath>
                            <clipPath id="clip2_142_76">
                            <rect width="16" height="16" fill="white" transform="translate(8 8)"/>
                            </clipPath>
                            </defs>
                        </svg>                            
                    </a>
                    <a href="https://www.twitch.tv/veigarv2">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_142_81)">
                            <rect width="32" height="32" rx="3" fill="#3D3067"/>
                            <g filter="url(#filter0_f_142_81)">
                            <rect x="7" y="5" width="17" height="19" fill="#4B3A84"/>
                            </g>
                            <g clip-path="url(#clip1_142_81)">
                            <g clip-path="url(#clip2_142_81)">
                            <g clip-path="url(#clip3_142_81)">
                            <path d="M20.2241 11.2334H19.0169V14.6616H20.2241V11.2334ZM16.9063 11.2188H15.6991V14.6484H16.9063V11.2188ZM11.776 8L8.7597 10.8569V21.1431H12.3794V24L15.396 21.1431H17.81L23.2403 16V8H11.776ZM22.0335 15.4297L19.6203 17.7147H17.2066L15.0941 19.7147V17.7147H12.3794V9.14313H22.0335V15.4297Z" fill="white"/>
                            </g>
                            </g>
                            </g>
                            </g>
                            <defs>
                            <filter id="filter0_f_142_81" x="-13" y="-15" width="57" height="59" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur_142_81"/>
                            </filter>
                            <clipPath id="clip0_142_81">
                            <rect width="32" height="32" rx="3" fill="white"/>
                            </clipPath>
                            <clipPath id="clip1_142_81">
                            <rect width="16" height="16" fill="white" transform="translate(8 8)"/>
                            </clipPath>
                            <clipPath id="clip2_142_81">
                            <rect width="16" height="16" fill="white" transform="translate(8 8)"/>
                            </clipPath>
                            <clipPath id="clip3_142_81">
                            <rect width="16" height="16" fill="white" transform="translate(8 8)"/>
                            </clipPath>
                            </defs>
                        </svg>                            
                    </a>
                    <a href="https://www.youtube.com/channel/UCtaPMBliSXumW6ZbVExwrqw">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_142_86)">
                            <rect width="32" height="32" rx="3" fill="#3D3067"/>
                            <g filter="url(#filter0_f_142_86)">
                            <rect x="7" y="5" width="17" height="19" fill="#4B3A84"/>
                            </g>
                            <g clip-path="url(#clip1_142_86)">
                            <g clip-path="url(#clip2_142_86)">
                            <g clip-path="url(#clip3_142_86)">
                            <path d="M23.267 12.3362C23.0926 11.6794 22.5786 11.162 21.926 10.9865C20.7431 10.6675 16 10.6675 16 10.6675C16 10.6675 11.2568 10.6675 10.0739 10.9865C9.42133 11.1621 8.90735 11.6794 8.73291 12.3362C8.41595 13.5268 8.41595 16.0108 8.41595 16.0108C8.41595 16.0108 8.41595 18.4948 8.73291 19.6853C8.90735 20.3422 9.42133 20.8379 10.0739 21.0135C11.2568 21.3325 16 21.3325 16 21.3325C16 21.3325 20.7431 21.3325 21.926 21.0135C22.5786 20.8379 23.0926 20.3422 23.267 19.6853C23.584 18.4948 23.584 16.0108 23.584 16.0108C23.584 16.0108 23.584 13.5268 23.267 12.3362ZM14.4487 18.266V13.7555L18.413 16.0108L14.4487 18.266Z" fill="white"/>
                            </g>
                            </g>
                            </g>
                            </g>
                            <defs>
                            <filter id="filter0_f_142_86" x="-13" y="-15" width="57" height="59" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur_142_86"/>
                            </filter>
                            <clipPath id="clip0_142_86">
                            <rect width="32" height="32" rx="3" fill="white"/>
                            </clipPath>
                            <clipPath id="clip1_142_86">
                            <rect width="16" height="14.22" fill="white" transform="translate(8 8.89001)"/>
                            </clipPath>
                            <clipPath id="clip2_142_86">
                            <rect width="16" height="14.22" fill="white" transform="translate(8 8.89001)"/>
                            </clipPath>
                            <clipPath id="clip3_142_86">
                            <rect width="15.9975" height="14.22" fill="white" transform="translate(8.00122 8.89001)"/>
                            </clipPath>
                            </defs>
                        </svg>                            
                    </a>
                </div>
            </div>
            <div class="category">
                Coaching
                <div class="links">
                    <a href="/for-teams">For Teams</a>
                    <a>For Individuals</a>
                </div>
            </div>
            <div class="category">
                About
                <div class="links">
                    <a>The Coaching</a>
                    <a>Veigar v2</a>
                </div>
            </div>
            <div class="information">
                Information
                <div class="information-links">
                    <a>Terms of Service</a>
                </div>
            </div>
            <div class="information-links">
                <a>Privacy Policy</a>
            </div>
            <div class="information-links">
                <a>Contact</a>
            </div>
        </div>
        
    </div>
    <div class="back"/>
</div>

<style>
    .container {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .footer {
        position: relative;
        background-color: rgba(255, 255, 255, 0.02);
        padding-left: 10%;
        padding-right: 10%;
        justify-content: center;
        gap: 8rem;	
        color: #E7E7F0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: row;
        z-index: 3;
    }
    .back {
        width: 100%;
        height: 100%;
        background-color: #140824;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }
    a {
        text-decoration: none;
        color: #ABADAF;
    }
    .left {
        flex-direction: row;
        gap: 4rem;
        height: 100%;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: repeat(3, 1fr);
    }
    .category {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1rem;
    }
    .socials {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .information {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.9rem;
    }
    .information-links {
        display: flex;
        align-items: end;
        color: #ABADAF;
        font-size: 0.9rem;
    }
    .links {
        gap: 0.8rem;
        display: flex;
        flex-direction: column;
        color: #ABADAF;
    }
    .links a {
        font-size: 0.9rem;
    }
    .disclaimer {
        width: 35%;
        font-size: 1rem;
        color: #ABADAF;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    @media only screen and (max-width: 1080px) {
		.disclaimer-text {
            display: none;
        }
        .footer {
            padding-left: 5%;
            padding-right: 5%;
            gap: 4rem;
        }
        .top {
            gap: 2rem;
        }
        .column {
            gap: 2rem;
        }
	}
    @media only screen and (max-width: 620px) {
        .footer {
            flex-direction: column;
            padding-left: 5%;
            padding-right: 5%;
            gap: 2rem;
        }
        .left {
            width: 100%;
        }
        .top {
            width: 100%;
            justify-content: space-between;
        }
        .column {
            height: 100%;
        }
        .disclaimer {
            width: 100%;
        }
    }
    @media only screen and (max-width: 480px) {
        .left {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            gap: 2.2rem;
        }
        .left > :nth-last-child(-n+2) {
            margin-top: -1.1rem;
        } 
        .disclaimer {
            width: 100%;
            display: flex;
            align-items: center;
        }
        .category {
            text-align: center;
            align-items: center;
        }
        .information {
            text-align: center;
            align-items: center;
        }
        .information-links {
            justify-content: center;
        }
    }
    .logo {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
    .logo img {
        height: 2.2rem;
    }
    .logo span {
        font-size: 1.6rem;
        font-weight: 700;
        color: #fff;
    }
    #purple {
        color: #8952E0;
    }
    
</style>