---
const { title } = Astro.props;
const { className } = Astro.props;
---
<div class:list={['container', className]}>
    <slot name="icon"></slot>
    <span class="title">{title}</span>
    <slot name="text"></slot>
</div>

<style>
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .title {
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        margin-top: 1rem;
    }
    .text {
        font-size: 0.9rem;
        color: #fff;
        line-height: 40px;
    }
    .info-2 {
        width: 65rem !important;
    }
</style>