---
import VeigarLogo from "../assets/VeigarLogo.png"
---

<div class="container">
    <div class="left">
        <div class="logo">
            <img src={VeigarLogo.src} alt="Veigar Logo"/>
            <span>Veigar <span id="purple">v2</span></span>
        </div>
        <div class="navigator"> 
            <a>Home</a>
            <a>For Teams</a>
            <a>For Individuals</a>
            <a>About VeigarV2</a>
            <a>FAQ</a>
        </div>
    </div>
    <div class="right">
        <a>
            <div class="buy-button">Buy Coaching</div>
        </a>
        <div class="socials">
            <a class="square" href="https://discord.gg/2KVYHfr">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none">
                    <path d="M11.4741 2.92765C11.4705 2.92072 11.4646 2.9153 11.4574 2.91234C10.6235 2.52972 9.74341 2.25687 8.83927 2.10064C8.83106 2.09912 8.82257 2.10022 8.81502 2.10379C8.80747 2.10737 8.80124 2.11323 8.79721 2.12055C8.67737 2.33805 8.56859 2.56146 8.47127 2.78993C7.49666 2.64198 6.50531 2.64198 5.5307 2.78993C5.43274 2.56088 5.32221 2.33742 5.19963 2.12055C5.19542 2.11339 5.18916 2.10766 5.18165 2.10411C5.17414 2.10056 5.16574 2.09935 5.15754 2.10064C4.25331 2.25655 3.3732 2.52941 2.53936 2.91236C2.53222 2.91539 2.5262 2.92055 2.52212 2.92715C0.854616 5.41735 0.397822 7.84633 0.621909 10.2452C0.62254 10.2511 0.624346 10.2568 0.627221 10.262C0.630096 10.2671 0.63398 10.2717 0.638644 10.2753C1.60962 10.9942 2.69567 11.543 3.85044 11.8982C3.85857 11.9006 3.86726 11.9005 3.87532 11.8979C3.88339 11.8952 3.89046 11.8902 3.89557 11.8834C4.14359 11.5459 4.36335 11.1886 4.55263 10.815C4.55523 10.8099 4.55671 10.8042 4.55698 10.7985C4.55726 10.7928 4.55631 10.787 4.5542 10.7817C4.55209 10.7763 4.54888 10.7715 4.54477 10.7675C4.54065 10.7635 4.53574 10.7604 4.53034 10.7584C4.18378 10.6258 3.84828 10.4659 3.52697 10.2803C3.52114 10.2769 3.51624 10.2721 3.5127 10.2663C3.50917 10.2605 3.50711 10.254 3.50671 10.2472C3.50631 10.2405 3.50758 10.2337 3.51041 10.2276C3.51324 10.2214 3.51754 10.2161 3.52293 10.212C3.59035 10.1615 3.65781 10.1089 3.72219 10.0558C3.72791 10.0511 3.73483 10.0481 3.74217 10.0471C3.74951 10.0461 3.75699 10.0472 3.76375 10.0502C5.86876 11.0109 8.14772 11.0109 10.2278 10.0502C10.2346 10.047 10.2421 10.0458 10.2496 10.0467C10.257 10.0476 10.2641 10.0506 10.2699 10.0553C10.3343 10.1084 10.4017 10.1615 10.4697 10.212C10.4751 10.216 10.4794 10.2213 10.4823 10.2275C10.4852 10.2336 10.4865 10.2403 10.4861 10.2471C10.4858 10.2539 10.4838 10.2604 10.4803 10.2662C10.4768 10.272 10.4719 10.2769 10.4661 10.2803C10.1455 10.4675 9.80974 10.6272 9.46227 10.7579C9.45688 10.7599 9.45198 10.7631 9.44789 10.7672C9.4438 10.7713 9.44062 10.7761 9.43856 10.7815C9.43649 10.7869 9.43559 10.7927 9.43591 10.7985C9.43622 10.8042 9.43776 10.8099 9.4404 10.815C9.63284 11.1865 9.85228 11.5434 10.097 11.8828C10.1019 11.8898 10.109 11.895 10.1171 11.8978C10.1251 11.9005 10.1339 11.9006 10.1421 11.8981C11.2989 11.5441 12.3869 10.9953 13.3591 10.2753C13.3638 10.2719 13.3677 10.2674 13.3706 10.2623C13.3735 10.2572 13.3753 10.2516 13.3758 10.2457C13.6441 7.47236 12.9267 5.06329 11.4741 2.92765ZM4.86699 8.78455C4.23323 8.78455 3.71103 8.20296 3.71103 7.4887C3.71103 6.77444 4.2231 6.1928 4.86699 6.1928C5.51592 6.1928 6.03306 6.77949 6.02293 7.48865C6.02293 8.20296 5.51084 8.78455 4.86699 8.78455ZM9.14093 8.78455C8.50719 8.78455 7.98499 8.20296 7.98499 7.4887C7.98499 6.77444 8.49706 6.1928 9.14093 6.1928C9.7899 6.1928 10.307 6.77949 10.2969 7.48865C10.2969 8.20296 9.7899 8.78455 9.14093 8.78455Z" fill="white"/>
                </svg>
            </a>
            <a class="square" href="https://twitter.com/veigar_v2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none">
                    <path d="M10.6422 1.3125H12.5727L8.35626 6.13047L13.3164 12.6875H9.4336L6.39024 8.71172L2.91212 12.6875H0.978912L5.4879 7.5332L0.732819 1.3125H4.71407L7.46212 4.94648L10.6422 1.3125ZM9.96407 11.5336H11.0332L4.13165 2.40625H2.98321L9.96407 11.5336Z" fill="white"/>
                </svg>
            </a>
            <a class="patreon" href="https://patreon.com/veigarv2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 14" fill="none">
                    <path d="M9.35827 0C6.46009 0 4.10212 2.35797 4.10212 5.25616C4.10212 8.14583 6.46009 10.4959 9.35827 10.4959C12.2479 10.4959 14.5986 8.14522 14.5986 5.25616C14.5986 2.35797 12.2479 0 9.35827 0ZM0 14H2.56724V0H0" fill="white"/>
                </svg>
            </a>
            <a class="twitch" href="https://www.twitch.tv/veigarv2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 14" fill="none">
                    <path d="M10.0313 2.82926H8.97504V5.82887H10.0313V2.82926ZM7.12824 2.81641H6.07195V5.81738H7.12824V2.81641ZM2.63922 0L0 2.49977V11.5002H3.16723V14L5.80672 11.5002H7.91902L12.6705 7V0L2.63922 0ZM11.6145 6.50098L9.50305 8.50035H7.39101L5.54258 10.2504V8.50035H3.16723V1.00023H11.6145V6.50098Z" fill="white"/>
                </svg>
            </a>
            <a class="youtube" href="https://www.youtube.com/channel/UCtaPMBliSXumW6ZbVExwrqw">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 14" fill="none">
                    <path d="M19.6159 2.15935C19.3779 1.31453 18.7191 0.651954 17.8705 0.417734C16.308 1.99704e-05 10.0266 2.00714e-05 10.0266 2.00714e-05C10.0266 2.00714e-05 3.75715 -0.0100002 2.17835 0.417734C1.33416 0.65258 0.672205 1.31453 0.436732 2.15935C0.140513 3.76069 -0.00665775 5.38145 0.000231084 7.00972C-0.0029002 8.62734 0.143644 10.2456 0.436732 11.8369C0.672205 12.6817 1.33416 13.3443 2.17835 13.5823C3.74087 14 10.0266 14 10.0266 14C10.0266 14 16.2923 14 17.8705 13.5823C18.7191 13.3443 19.3779 12.6824 19.6159 11.8369C19.9033 10.2456 20.0436 8.62734 20.0336 7.00972C20.0436 5.38145 19.9064 3.76069 19.6159 2.15935ZM8.02008 10.0076V3.99867L13.2487 7.00972L8.02008 10.0076Z" fill="white"/>
                </svg>
            </a>
        </div>
    </div>
</div>

<style>
    .container {
        display: flex;
        justify-content: space-between;
        top: 0;
        position: sticky;
        align-items: center;
        padding: 0 10%;
        height: 56px;
        flex-direction: row;
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
        background-color: rgba(255, 255, 255, 0.04);
        z-index: 2;
        backdrop-filter: blur(20px);
    }
    .left {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }
    .logo {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
    .logo img {
        height: 2rem;
    }
    .logo span {
        font-size: 1.2rem;
        font-weight: 700;
        color: #fff;
    }
    #purple {
        color: #8952E0;
    }
    .navigator {
        display: flex;
        gap: 30px;
    }
    .navigator a {
        font-size: 0.9rem;
        font-weight: 500;
        color: #AEAEAE;
    }
    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 60px;
    }
    .buy-button {
        background-color: #8952E0;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        border-radius: 6px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .socials {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .socials a {
        height: 1.2rem;
    }
    .square {
        aspect-ratio: 1/1;
    }
    .patreon {
        aspect-ratio: 15/14;
    }
    .twitch {
        aspect-ratio: 13/14;
    }
    .youtube {
        aspect-ratio: 3/2;
    }

</style>