---
---

<div class="container">
    <div class="rectangle">
        <div class="left">
            <span class="title">How It Works</span>
            <div class="button">
                <span>Book a Session -&gt;</span>
            </div>
        </div>
        <div class="right">
            <div class="cards">
                <div class="card">
                    <span class="card-title">Introduction</span>
                    <span class="card-text-1">A session lasts mainly for one hour, but usually a bit longer to assure everything has been mentioned and that the student's questions has been fully answered.The session begins with the student introducing themself to Veigar v2. Then, they will make their first impression by reviewing the student's OP.GG for mistakes regarding runes/build/cs numbers/history. Before diving into the VOD, there will be a brief conversation about why the student decided to receive a coaching. session, which specific aspect should be tackled, what the biggest struggles are and so forth.</span>
                </div>
                <div class="card">
                    <span class="card-title">VOD Review</span>
                    <span class="card-text-2">If the student has a relatively small champion pool or is an OTP, Veigar v2 will take the extra time to go over all the mechanics and unique actions you can execute with that particular champion. Soon after, the analytic part of the session starts, the VOD review. The VOD that will be analyzed is a recent game of the student that he/she and Veigar v2 have both agreed on to watch beforehand. Preferably, not a stomp game and chose a recorded POV that would serve you well for a coaching session. During the VOD review, Veigar v2 will question the student's decisions to make the student reflect on certain actions that lead to mistakes and bad performances. The coach will cover laning phase, Jungle interactions (such as pathing, vision control, which Jungler does what, etc.), wave management, how to play each stage of the game and a lot more.</span>
                </div>
                <div class="card">
                    <span class="card-title">Coaching Summary</span>
                    <span class="card-text-3">After the VOD review is finished, a conclusion will be made of all points that were mentioned during the session in order that the student understands the full picture of his conduct.At the end of the session, the student has the possiblity to pose questions if there are any left. (You can always leave him a message in the website chat to ask a question)</span>
                </div>
            </div>
        </div>
        <div class="light-container">
            <div class="light"/>
        </div>
    </div>
</div>

<style>
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
        overflow: hidden;
        max-width: 100vw;
    }
    .rectangle {
        position: relative;
        margin-top: 4rem;
        display: flex;
        width: 60%;
        gap: 2rem;
        height: 28rem;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.08);
        background-color: rgba(0, 0, 0, 0.01);
        z-index: 3;
        flex-direction: row;
    }
    .left {
        width: 28%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
        padding-top: 2.5rem;
    }
    .title {
        font-weight: 600;
        font-size: 2.2rem;
        color: #FFFFFF;
        margin-bottom: 1rem;
    }
    .button {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 1rem;
        border-radius: 10px;
        border: 1px solid #4B3A84;
        background: var(--Radial, radial-gradient(50% 50% at 50% 50%, rgba(75, 58, 132, 0.20) 0%, rgba(33, 23, 66, 0.20) 100%));
        display: inline-flex;
        padding: 8px 25px;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin-top: 10rem;
    }
    .right {
        position: relative;
        width: 72%;
        height: 100%;
        display: flex;
        z-index: 3;
        flex-direction: row;
    }
    .cards {
        height: 100%;
        display: flex;
        z-index: 3;
        flex-direction: row;
        gap: 4rem;
    }
    .card {
        position: relative;
        display: flex;
        height: 70%;
        margin-top: 10%;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.08);
        background-color: rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(25px);
        z-index: 3;
        overflow: hidden;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        width: min-content;
    }
    .card-title {
        font-weight: 600;
        font-size: 1.5rem;
        color: #FFFFFF;
    }
    .card-text-1 {
        font-weight: 600;
        font-size: 1rem;
        color: #ABADAF;
        width: 30rem;
    }
    .card-text-2 {
        font-weight: 600;
        font-size: 1rem;
        color: #ABADAF;
        width: 35rem;
    }
    .card-text-3 {
        font-weight: 600;
        font-size: 1rem;
        color: #ABADAF;
        width: 17rem;
    }
    .light-container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
    }
    .light {
        width: 50%;
		height: 40%;
        background-color: #8952E0;
        filter: blur(120px);
    }

</style>